nav h1{
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  position: relative;
  left: 5px;
}
#app{
  font-family: 'Raleway', sans-serif;
}
#title{
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  position: relative;
  left: 12px;
}
#slider{
  position: relative;
  top: 11px;
  background: lightgrey;
}
#slider .ui-slider-range-min{
  background: red;
}
#slider .ui-slider-handle{
  background: red;
  border-radius: 10px;
  border-color: red;
}
#volumeButton{
  position: relative;
  top: 21px;
}
#volume{
  position: relative;
  top: 11px;
  background: lightgrey;
  border-color: white;
}
#volume .ui-slider-range-min{
  background: lightgreen;
}
#volume .ui-slider-handle{
  background: lightgreen;
  border-radius: 10px;
  border-color: lightgreen;
}